<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index-page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body style="background-color: rgb(197, 228, 85);">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="#">UERS PROFILE-PAGE</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navb" class="navbar-collapse collapse hide">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post:post' %}"><span class="fas fa-user"></span>AddPost</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}"><span class="fas fa-user"></span> UpdateProfile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logouts' %}"><span class="fas fa-sign-in-alt"></span> Logout</a>
                </li>

            </ul>
        </div>
    </nav>

    

    
    <h1>WELCOME IN LOOKBOOK {{request.user.username}}</h1>
        <img src="{{request.user.profile.image.url}}" 
            height=300px width=300px> </h1>
    <h4>caption:{{request.user.profile.caption}}</h4>
   
</body>
</html>