<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index-page</title>
</head>
<body>
    <div class="container" style="background-color:rgb(40, 142, 189)"  align=right>

    <a href="{% url 'logouts' %}">Logout</a><br>
    <br>
    <a href="{% url 'profile' %}">UpdateProfile</a><br>
    <br>
    <a href="{% url 'post' %}">AddPost</a><br>
    </div>  
    <br>
    <br>     

    <h1>WELCOME IN LOOKBOOK {{request.user.username}}</h1>
        <img src="{{request.user.profile.image.url}}" 
            height=300px width=300px> </h1>
    <h4>caption:{{request.user.profile.caption}}</h4>

</body>
</html>