<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
     body {
    text-align: center;
    background-color: rgb(55, 110, 173);
    margin-top:  200px;
    border-top: khaki;
    border-bottom: khaki;
    }
    form {
    display: inline-block;
    }
    </style>
  </head>
 <body>
  <strong> welcome to login page </strong><br>

  <a href="{% url 'social:begin' 'google-oauth2' %}">google</a>

    <div class="fadeIn first">
    

   <form method="POST"  align=center>
        {% csrf_token %}
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="username"><br><br>
            <input type="password" id="password" class="fadeIn second" name="password" placeholder="enter password"><br>
            <br><input type="submit" class="fadeIn fourth" value="Login">
   </form>

  </div>
 </body>
</html>


