<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
</head>
<body>
    <div class="container" style="background-color:rgb(39, 112, 155)"  align=right>
    <a href="{% url 'logouts' %}">Logout</a><br>
    <br>
    <a href="{% url 'index' %}">GoToYourAccount</a>
    </div>
    <br>
    <br>
    {% for post in posts%}
        <!-- {{ d.image }}<br> -->

        {% if post.image %}
            <img src="{{post.image.url}}" alt="" class="prod-size">
        {% endif %}
        <br> 
        {{post.id}}
        <!-- <input type="hidden" id={{d.id}}> -->
        <br>
     
        {{ post.description }} <a href="{% url 'details' post.id %} ">Details</a>
        <br>
        <br>

    {% endfor %}
</body>
</html>