<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div style="background-color: aquamarine; margin:10px;" >

    <div class="container" style="background-color:rgb(39, 112, 155)"  align=right>
    <a href="{% url 'logouts' %}">Logout</a><br>
    <br>
    <a href="{% url 'index' %}">GoToYourAccount</a>
    </div>
    <br>
    <br>
   
        {% if post.image %}
            <img src="{{post.image.url}}" alt="" class="prod-size">
        {% endif %}
        <br> 
        {{post.id}}
        <br>
     
        {{ post.description }} 
        <br>
            
        <form method="POST">
            {%  csrf_token %}
            {{form }}
            <input type="submit" value="save">
        </form>
        <br>
        {% for comment in comments %}
            <h3>{{ comment.massege }}</h3>
        {% endfor %}
    </div>

    <script type="text/javascript"> 
        $(document).ready(function(){
           $('#follow').click(function(event){
               event.preventDefault();
               var href = this.href;
               console.log(herf);
               $.ajax({
                   url: href,
                   success:function(response){
                       if(response["following"]){
                           $("#follow").text('unfollow')
                       }
                       else{
                        $("#follow").text('follow')

                       }
                   }
               })
           });
        })
    </script>
              
</body>
</html>