
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           text-align: center;
        }
        </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/like.js' %}" type="text/javascript"></script>

</head>
<body style="background-color: rgb(230, 215, 82);">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="#">LOOKBOOK'S MAIN-PAGE</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navb" class="navbar-collapse collapse hide">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"><span class="fas fa-user"></span> YourAccount</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logouts' %}"><span class="fas fa-sign-in-alt"></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    
    
    {% for post in posts%}
     
        {% if post.image %}
            <img src="{{post.image.url}}" alt="" class="prod-size">
        {% endif %}
        <br> 
        {{post.id}}
   
        <br>
     
        {{ post.description }} <a href="{% url 'post:details' post.id %} ">Details</a>
        <br>
        <a href="{% url 'post:profile' post.id %} ">profile</a>
        <br>
        
        {% if request.user in post.likes.all%}
            <a href="#" id="like{{post.id}}" onclick="" url="{% url 'post:like' %}" name="like" data="{{post.id}}" class="like">liked</a> 
            <p id="count{{post.id}}" class="count" > {{post.total_likes}} </p>
        {% else %}
            <a href="#" id="like{{post.id}}" onclick=""  url="{% url 'post:like' %}" name="like" data="{{post.id}}" class="like">like</a> 
            <p id="count{{post.id}}" class="count" > {{post.total_likes}} </p>
        {% endif %}
        
        <br>
        <hr arial-model="true"> 

    {% endfor %}

    </div>
    <hr aria-modal="true">
    <div  style="color: rgba(247, 2, 2, 0.966);" class="fotter">
        contact_as:- info@gmail.com <br> 
        phone:- 1233445675<br>
        LookBook Help
    </div>
</div> 
</body>
</html>