<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/follow.js' %}" type="text/javascript"></script>
</head>
<body style="background-color: rgb(182, 209, 31);">

    <h1> Profile page </h1>
    <br>
    {% for post in posts %}
        {{ post.id }} 
        <br>
        {% if post.image %}
            <img src="{{post.image.url}}" alt="" class="prod-size">
        {% endif %}
        <br>
        {% if request.user in user.following.all%}
            <a href="#" id="follow{{user.id}}" onclick="" url="{% url 'post:follow' %}" name="follow" data="{{user.id}}" class="follow">unfollow</a> 
        {% else %}
            <a href="#" id="follow{{user.id}}" onclick=""  url="{% url 'post:follow' %}" name="follow" data="{{user.id}}" class="follow">follow</a> 
        {% endif %}

        </form>
        <br>
        
    {% endfor %}

 </body>
</html>
